<!DOCTYPE html>
{% extends 'core/base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'website/css/full_report.css' %}" />
<script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>
{% endblock %}

{% block content %}
<div class="container-fluid px-0">
<section class="hero-section bg-primary text-white align-content-center py-5">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col text-center">
                <h1 class="display-4 mb-4">Web Development Audit Report for {{ contact_name }}</h1>
                <p class="lead mb-4 text-tertiary">{{ url }}</p>
                <p class="mb-4"><strong>Conducted On: </strong>{{ date }}</p>
                <a type="button" class="btn btn-outline-light btn-lg" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/charlie-charlie-marshall'});return false;">Turn Your Insights Into Action</a>
            </div>
        </div>
    </div>
</section>

<section class="container my-5" id="intro">
    <div class="row justify-content-center">
        <div class="col-10">
            <h2 class="text-primary">Intro</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10">
            <p>Thank you {{ contact_name }} for your interest in this free website audit report! As a freelance 
                Data & Web Developer, I specialize in building and managing high-performance, data-driven, 
                SEO-friendly, and user-centric web applications and tools. This report provides a detailed 
                analysis of your website's performance, accessibility, SEO, and best practices based 
                on <em class="text-emphasis">Google's Lighthouse metrics</em>.
            </p>
            <p>
                A well-optimized website not only improves user experience but also <strong>boosts search 
                engine rankings and conversion rates.</strong> The insights in this report will help you 
                identify key areas for improvement, ensuring your site is <em class="text-emphasis">fast, accessible, and 
                technically sound.</em>
            </p>
            <p>
                If you'd like to discuss these findings further or explore how we can enhance your 
                website's performance, feel free to reach out — <strong>I'd be happy to help!</strong>
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10">
            <a class="btn btn-primary" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/charlie-charlie-marshall'});return false;">Book a free consultation</a>
        </div>
    </div>
    <div class="row justify-content-center my-5">
        <div class="col-10">
            <strong>Jump to:</strong>
        </div>
    </div>
    <div class="row justify-content-center my-2">
        <div class="col-10">
            <a class="mx-3 btn btn-outline-primary" href="#accessibility-section">Accessibility</a>
            <a class="mx-3 btn btn-outline-primary" href="#best-practices-section">Best Practices</a>
            <a class="mx-3 btn btn-outline-primary" href="#performance-section">Performance</a>
            <a class="mx-3 btn btn-outline-primary" href="#seo-section">SEO</a>
            <a class="mx-3 btn btn-outline-primary" href="#actionable-insights">Actionable Insights</a>
        </div>
    </div>
</section>

<section class="container-fluid bg-dark" id="core-scores">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-10">
                <h2 class="text-tertiary">Core Scores</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10 text-light">
                <p>
                    The Core Scores provide the overview of your website analysis. They are split into four 
                    categories: <em class="text-emphasis">Accessibility, Best Practices, Performance, Search Engine Optimization 
                    (SEO)</em>. Each of these four categories are important for making your website gets 
                    visitors and those visitors <strong>stay on your site</strong>. The longer they are on your site, 
                    the more likely those visitors are to convert into paying customers.
                </p>
                <p>
                    These scores represent a weighted average of a series of metrics which identify where 
                    your website is performing well, but more importantly, where it is performing poorly.
                    Based on analysis of these metrics, we should be able to identify problem areas, which 
                    allow us to <em class="text-emphasis">define actionable steps</em> which can be taken to <strong>improve the traffic of your 
                    website, leading to more customers.</strong>
                </p>
                <div class="row justify-content-center">
                    <div class="col py-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="row text-center">
                                    <div class="col">
                                        <h3>Accessibility</h3>
                                    </div>
                                </div>
                                <div class="row text-center justify-content-center">
                                    <div class="col justify-content-center px-2">
                                        <div id="accessibilityGauge" class="score-gauge justify-content-center" data-score="{{ scores.accessibility | safe }}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col py-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="row text-center">
                                    <div class="col">
                                        <h3>Best Practices</h3>
                                    </div>
                                </div>
                                <div class="row text-center justify-content-center">
                                    <div class="col justify-content-center px-2">
                                        <div id="bestPracticesGauge" class="score-gauge justify-content-center" data-score="{{ scores.best_practices | safe }}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col py-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="row text-center">
                                    <div class="col">
                                        <h3>Performance</h3>
                                    </div>
                                </div>
                                <div class="row text-center justify-content-center">
                                    <div class="col justify-content-center px-2">
                                        <div id="performanceGauge" class="score-gauge justify-content-center" data-score="{{ scores.performance | safe }}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col py-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="row text-center">
                                    <div class="col">
                                        <h3>SEO</h3>
                                    </div>
                                </div>
                                <div class="row text-center justify-content-center">
                                    <div class="col justify-content-center px-2">
                                        <div id="seoGauge" class="score-gauge justify-content-center" data-score="{{ scores.seo | safe }}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script src="{% static 'website/js/gaugeCharts.js' %}"></script>
                </div>
            </div>
        </div>
    </div>
</section>

{% for section in sections %}
<section class="container-fluid {% if section.name.lower in dark_sections %}bg-dark{% endif %}" id="{{ section.formatted_name }}-section">
    <div class="container my-5 py-5">
        <div class="row">
            <div class="col">
                <h2 class="{% if section.name.lower in dark_sections %}text-tertiary{% else %}text-primary{% endif %}">{% if section.name.lower != 'seo' %}{{ section.name }}{% else %}SEO{% endif %}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <p class="{% if section.name.lower in dark_sections %}text-light{% else %}text-muted{% endif %}">{{ section.intro }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <h5 class="my-4 {% if section.name.lower in dark_sections %}text-tertiary{% else %}text-primary{% endif %}">Overview</h5>
                <ul class="list-group mb-4">
                    <li class="list-group-item"><strong>Passed:</strong> {{ section.overview.passed }}</li>
                    <li class="list-group-item"><strong>Failed:</strong> {{ section.overview.failed }}</li>
                    <li class="list-group-item"><strong>Needs Work:</strong> {{ section.overview.needs_work }}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <h5 class="{% if section.name.lower in dark_sections %}text-tertiary{% else %}text-primary{% endif %}">Detailed Findings</h5>
                <table class="table table-sm table-hover mt-3">
                    <thead class="table-light">
                        <tr>
                            <th>Audit</th>
                            <th>Status</th>
                            <th>Description</th>
                            <th>Impact</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for audit in section.audits %}
                        <tr class="audit-status{% if audit.passed %}-pass table-success{% else %}-fail table-danger{% endif %}">
                            <td>{{ audit.title }}</td>
                            <td>
                                {% if audit.passed %}Passed{% else %}Failed{% endif %}
                            </td>
                            <td>{{ audit.description }}</td>
                            <td>{{ audit.impact }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endfor %}
<section class="container-fluid" id="actionable-insights">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <h2 class="text-primary">Actionable Insights</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <p class="text-muted">These actionable insights track the most important and easily fixable audits, 
                    showing you what you should continue doing, and what you need to change.</p>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-10"><h3>✅ What You're Doing Well:</h3></div>
        </div>
    
        <div class="row py-3">
            <div class="col-10">
                <div class="insight">
                    <ul class="list-group list-group-flush">
                        {% for insight in insights.passed %}
                        <li class="list-group-item">{{ insight }}</li>
                        {% empty %}
                        <li class="list-group-item">You have no passed insights.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-10"><h3>❌ What Your Site Could Do Better:</h3></div>
        </div>
    
        <div class="row py-3">
            <div class="col-10">
                <div class="insight">
                    <ul class="list-group list-group-flush">
                        {% for insight in insights.failed %}
                        <li class="list-group-item">{{ insight }}</li>
                        {% empty %}
                        <li class="list-group-item">You have no passed insights.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid bg-primary">
    <div class="container">
        <div class="row bg-primary py-5">
            <div class="col-10">
                <p class="lead text-light">Your Lighthouse audit reveals concrete opportunities to boost site performance and conversions. 
                    As an independent web specialist, I'll help you implement these insights through:</p>
        
                <ul class="mb-4 text-light">
                    <li>Monthly performance audits & priority fixes</li>
                    <li>Hands-on speed optimizations</li>
                    <li>SEO and accessibility refinements</li>
                    <li>Mobile experience enhancements</li>
                    <li>Ongoing maintenance support</li>
                </ul>
        
                <p class="display-5 mb-4 text-light">Don't let technical debt slow your growth</p>
        
                <div class="bg-light p-4 rounded-3 mb-4">
                    <p>With my <strong>freelancer advantage</strong>, you get:</p>
                    <ul class="list-unstyled">
                        <li><i class="text-success bi bi-check"></i> Direct access to your developer (no account managers)</li>
                        <li><i class="text-success bi bi-check"></i> Clear monthly reports in plain English</li>
                        <li><i class="text-success bi bi-check"></i> Flexible engagement options</li>
                    </ul>
                </div>
        
                <a class="btn btn-outline-light btn-lg px-5" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/charlie-charlie-marshall'});return false;">
                    Get Personalized Optimization Help →
                </a>
            </div>
        </div>
    </div>

</section>
{% endblock %}