<!DOCTYPE html>

{% load static %}

<div class="modal fade" id="qualificationModal{{ qualification.id }}" tabindex="-1" aria-labelledby="qualificationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="qualificationModalLabel">{{ qualification.name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <p class="text-muted">Institution:</p>
                        <p>{{ qualification.institution.name }}</p>
                    </div>
                    <div class="col">
                        <p class="text-muted">Date Earned:</p>
                        <p>{% if qualification.ongoing %}Ongoing{% else %}{{ qualification.date_earned|date:"F, Y" }}{% endif %}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-muted">Grade:</p>
                        <p>{{ qualification.grade }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-muted">Skills Used:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="list-group list-group-flush scrollable-list">
                            {% for skill in qualification.skills.all %}
                                <div class="list-group-item">
                                    {{ skill.name }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>