

<div class="row g-4">
    <!-- Service Card 1 -->
    <div class="col-md-6 col-lg-4">
        <div class="card h-100 shadow">
            <div class="card-body">
                <div class="text-center mb-4">
                    <i class="bi bi-1-circle-fill display-4 text-secondary"></i>
                </div>
                <h3 class="card-title text-center">Discovery Call</h3>

                <p>We will begin the journey to building your ultimate web app
                    with a discovery call.
                    This call will allow me to better understand your desires
                    for your application,
                    and allow you ask any burning questions you may have about
                    the journey ahead.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="card h-100 shadow">
            <div class="card-body">
                <div class="text-center mb-4">
                    <i class="bi bi-2-circle display-4 text-secondary"></i>
                </div>
                <h3 class="card-title text-center">Project Definition</h3>

                <p>Based on the outcome of the discovery call, I will
                    create a project definition document. This will ensure
                    we all understand what is within the scope of the project,
                    and what will be in the end product.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="card h-100 shadow">
            <div class="card-body">
                <div class="text-center mb-4">
                    <i class="bi bi-3-circle-fill display-4 text-secondary"></i>
                </div>
                <h3 class="card-title text-center">Conceptualization</h3>
                <p>Now it's time to get to work!</p>
                <p>In the conceptualization stage, I will design and provide mockups of the end product.
                    It is here where you'll be able to see what the product will look like,
                    including any portals, and database schematics.
                </p>

            </div>
        </div>
    </div>
</div>

<div class="row py-5 g-4">
    <!-- Service Card 1 -->
    <div class="col-md-6 col-lg-4">
        <div class="card h-100 shadow">
            <div class="card-body">
                <div class="text-center mb-4">
                    <i class="bi bi-4-circle display-4 text-secondary"></i>
                </div>
                <h3 class="card-title text-center">Initial Build</h3>

                <p>
                    Once you're happy with the concept, I will start the initial build.
                    Here is where I will create the core functionality of the project.
                    It will ensure for a solid foundation to build upon, when it comes to fine-tuning your application.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="card h-100 shadow">
            <div class="card-body">
                <div class="text-center mb-4">
                    <i class="bi bi-5-circle-fill display-4 text-secondary"></i>
                </div>
                <h3 class="card-title text-center">Iterative Development</h3>
                <p>
                    Once the foundations of the product are built, I get to work on the granular details.
                    This is where we get to fine-tune the product to truly be the web app you envisioned.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="card h-100 shadow">
            <div class="card-body">
                <div class="text-center mb-4">
                    <i class="bi bi-6-circle display-4 text-secondary"></i>
                </div>
                <h3 class="card-title text-center">Deployment</h3>
                <p>
                    Once you are happy with the project, the product is now ready for deployment.
                    It is now ready to show to the world!
                </p>

            </div>
        </div>
    </div>
</div>