{% load static %}

<script
  src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"
  defer></script>
<script src="{% static 'booking/js/booking.js' %}"></script>
<script src='fullcalendar/dist/index.global.js'></script>
<div
  class="modal modal-lg fade"
  id="bookingModal"
  tabindex="-1"
  aria-labelledby="bookingModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookingModalLabel">Book a Time Slot</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="bookingForm" autocomplete="off">
          <div class="container">
            <div class="row">
              <div class="col-9">
                <div id="calendar"></div>
              </div>
              <div class="col-3">

                <div class="mb-3">
                  <label for="firstName" class="form-label">First Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="firstName"
                    name="first_name" />
                </div>

                <div class="mb-3">
                  <label for="lastName" class="form-label">Last Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="lastName"
                    name="last_name" />
                </div>
                <div class="mb-3">
                  <label for="company" class="form-label"
                    >Company (optional)</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="company"
                    name="company" />
                </div>
                <div class="mb-3">
                  <label for="industry" class="form-label">Industry</label>
                  <input
                    type="text"
                    class="form-control"
                    id="industry"
                    name="industry" />
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email" />
                </div>
                <div class="mb-3">
                  <label for="description" class="form-label"
                    >Description (optional)</label
                  >
                  <textarea
                    class="form-control"
                    id="description"
                    name="description"
                    rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">
                  Book Appointment
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
