<!DOCTYPE html>

{% extends 'core/base.html' %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'admin.css' %}">{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <nav class="navbar admin_nav navbar-expand-lg bg-body-tertiary navbar-light px-5">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav w-100">
                    <li class="nav-item">
                        <a class="nav-link admin-nav-link" href="{% url 'freesites:queue_list' %}">Queue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link admin-nav-link" href="{% url 'freesites:completed_list' %}">Completed</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col">
            {% block admin_content %}
            {% endblock %}
        </div>
    </div>

</div>
    
    

{% endblock %}
