<!DOCTYPE html>
{% extends "core/base.html" %}
{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'projects/projects.css' %}">{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-projectindexpage{% endblock %}

{% block content %}
<div class="container-fluid index-container">
    <div class="row py-2 text-center">
        <div class="col">
            <h1>Projects</h1>
        </div>
    </div>
    <div class="row py-2">
        <div class="col">
            <div class="list-group list-group-active">
            {% for post in Projectpages %}
            {% with post=post.specific %}
                <a href="{% pageurl post %}" class="list-group-item text-center list-group-item-action">
                    <div class="row">
                        <div class="col-2">
                            {{ post.title }}
                        </div>
                        <div class="col-4">
                            {% with post.main_image as main_image %}
                                {% if main_image %}{% image main_image fill-160x100 %}{% endif %}
                            {% endwith %}
                        </div>
                        <div class="col-4">
                            <p class="text-truncate whitespace-nowrap overflow-hidden text-ellipsis">{{ post.intro }}</p>
                        </div>
                        <div class="col-2">
                            <p class="meta">{{ post.date }}</p>
                        </div>
                    </div>
                </a>
            {% endwith %}
            {% endfor %}
            </div>
        </div>
    </div>
    {% if projectpages.paginator.num_pages > 1 %}
    <div class="row py-2">
      <div class="col">
        <div class="pagination">
          {% if projectpages.has_previous %}
            <li class="page-item">
              <a href="?page={{ projectpages.previous_page_number }}" class="page-link">
                <span>&laquo;</span>
              </a>
            </li>
          {% endif %}

          {% for page_num in projectpages.paginator.page_range %}
            <li class="page-item {% if page_num == projectpages.number %} active{% endif %}">
              <a href="?page={{ page_num }}" class="page-link">
                {{ page_num }}
              </a>
            </li>
          {% endfor %}

          {% if projectpages.has_next %}
            <li class="page-item">
              <a href="?page={{ projectpages.next_page_number }}" class="page-link">
                <span>&raquo;</span>
              </a>
            </li>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
</div>


{% endblock %}