<!DOCTYPE html>

{% extends "core/base.html" %}

{% block content %}

<div class="container-fluid align-content-center" id="hero-container">
    <div class="row text-center">
        <div class="col-12">
            <h1 class="hero-text">Free Websites for Job Seekers</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <p>As a job seeker myself, I know what a struggle it is out there.</p>
            <p>I want to help you out.</p>
            <p>I am offering my skills in web development to build job seekers CV/Resume/Portfolio websites.</p>
            <p>I am doing this for free, no strings attached. All that I ask is you allow me to use it in my own portfolio.</p>
            <p>Of course, if you would like to <a href="https://buymeacoffee.com/charliemarshall">buy me a coffee</a>, I wouldn't say 'no', either.</p>
        </div>
    </div>
    <div class="row text-center py-3 d-flex d-md-none">
        <div class="col-4 d-flex">
            <a class="btn btn-outline-primary" href="#">Click here to join the waitlist</a>
        </div>
    </div>
</div>

{% endblock content %}