
<!DOCTYPE html>

{% extends 'core/base.html' %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'freesites/style.css' %}">{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row text-center py-3">
        <div class="col">
            <h1>Review My Work</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card mx-auto">
                {% load crispy_forms_tags %}
                <form method="POST">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <p>Thank you for taking the time to review my service.</p>
                                <p>I hope I delivered a product to your satisfaction.</p>
                                <p>If I did, please consider <a href="https://buymeacoffee.com/charliemarshall">buying me a coffee!</a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {% csrf_token %}
                                {{ form.honeypot }}
                                {{ form|crispy }}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}