
.btn-outline-primary {
    color: black !important;
    border-color: black !important;
}

.btn-outline-primary:hover, .btn-outline-primary:active {
    color: white !important;
    background-color: black !important;
    border-color: black !important;
}

.btn-primary {
    color: white !important;
    border-color: black !important;
}

.btn-primary:hover, .btn-primary:active {
    color: black !important;
    background-color: white !important;
    border-color: black !important;
}

.index-container {
    min-height: 100vh;
}