{% extends "core/base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="meta">{{ page.date }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="intro">{{ page.intro }}</div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ page.body|richtext }}
        </div>
    </div>

    <!-- Add this: -->
    <div class="row">
        <div class="col">
            <h2>Gallery</h2>
        </div>
    </div>
    <div class="row">
    {% for item in page.gallery_images.all %}
        <div class="col">
            <div style="float: inline-start; margin: 10px">
                {% image item.image fill-320x240 %}
                <p>{{ item.caption }}</p>
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="row">
        <div class="col">
            <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>
        </div>
    </div>
</div>
{% endblock %}