
#hero-container {
    height: 91vh;
    background-color: black;
}

.hero-text {
    color: white;
}

.btn-outline-primary {
    color: white;
    border-color: white;
}

.btn-outline-primary:hover, .btn-outline-primary:active {
    color: black !important;
    background-color: white !important;
    border-color: white !important;
}